
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#square-container {
    height: 400px;
    width: 400px;
    border: 1px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;    
    gap: 0px;

}

.grid-square {
    background-color: white; 
    height: 25px; 
    width: 25px;
}

.activated-grid-square {
    background-color: black;
}

