
body,html {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Rowdies', cursive;
}
img {
    height: 50px;]
    width: 50px;
}
img:hover {
    opacity: 50%;
    transition: .5s;
}
header { 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-left: 20px; 
    background-color: #404258;
}
button {
    margin: 20px;    
    background-color: #adb0bb;
    color: white;
    font-family: 'Rowdies', cursive;
    padding: 10px;
    border-radius: 5px;
    border-style: hidden;
    box-shadow: #8a8c94 2px 2px;
}
button:hover {
    background-color: #8a8c94;   
    transition: 0.1s; 
}
button:active {
    background-color: #50577A;  
}
footer {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #6B728E;
}

#slider {
    accent-color: #adb0bb;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #474E68;
}
.section-2 {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    background-color: #50577A;    
}

/* ids and classes for js */
#square-container {
    border-radius: 5px;
    background-color: #adb0bb;
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;    
    gap: 0px;

}

.grid-square {
    box-sizing: border-box;
    border: 1px;
    border-style:double;
    border-color: #404258;
    background-color: white; 
    border-radius: 5px;
    height: 25px; 
    width: 25px;
    background-color: #adb0bb;
}

.activated-grid-square {
    background-color: #474E68;
    border-radius: 5px;
    transition: 0.1s; 
}

